@import "~antd/dist/antd.css";

@font-face {
  font-family: "Amazon Ember Regular";
  src: url("./webfontkit/amazon-ember.eot");
  /* IE9*/
  src: url("./webfontkit/amazon-ember.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("./webfontkit/amazon-ember.woff2") format("woff2"),
    /* chrome、firefox */
    url("./webfontkit/amazon-ember.woff") format("woff"),
    /* chrome、firefox */
    url("./webfontkit/amazon-ember.ttf") format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("./webfontkit/amazon-ember.svg#Amazon Ember Regular") format("svg");
  /* iOS 4.1- */
}

body {
  font-family: "Amazon Ember Regular" !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.ant-layout-header {
  background: #fff;
  padding: 0px;
}

.row-dragging {
  background: #fafafa;
  border: 1px solid #ccc;
}

.row-dragging td {
  padding: 16px;
  visibility: hidden;
}

.row-dragging .drag-visible {
  visibility: visible;
}

.ant-menu-horizontal>.ant-menu-item a {
  color: #fff;
}

/* 

.ant-menu-horizontal > .ant-menu-item-selected a {
  color: #CECE5D;
}
.ant-menu-item .anticon, .ant-menu-submenu-title-seleted .anticon {
  color: #CECE5D;
} */
.hidden-element .ant-form-item-control-input {
  display: none;
}

.flexItem {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-top: 1px solid gray;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.divide {
  padding: 3px;
  margin: 3px;
}

.ck.ck-editor__editable_inline> :last-child {
  height: 180px;
}

.tableRow {
  background-color: "#fff";
  padding: "10px 20px";
}

.header {
  text-align: center;
  background-color: #fff;
  padding: 8px;
  margin-bottom: 15px;
}

.pdf {
  @media print {
    @page {
      size: landscape;
      margin: 20px;
    }
  }

  /* margin: 20px; */
}

.site-calendar-demo-card {
  width: 300px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}

.ant-drawer-body {
  padding: 0px;
  background: #001529;
}

.slim {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

.print-hidden {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

@media print {
  .print-hidden {
    display: none !important;
  }

  .printer{
    padding : 20px;
  }
}

.heighlight-border{
  border-bottom:  1px solid #f0f0f0;
}

.rcol {
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #f0f0f0;
}